/* font link part start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* font link part end */
/* root variable part start */
:root {
    --poppins: "Roboto", sans-serif;
    --inter: "Inter", sans-serif;
}

/* root variable part end */
/* common css part start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

/* common css part end */
/* navbar part start  */
.menu_bar {
    width: 1138px;
    margin: 41px auto 80px;
    display: flex;
    gap: 65px;
    align-items: center;
}

.menu_links {
    display: flex;
    gap: 165.5px;
    align-items: center;

}

.menu_links a {
    font: 600 15px --poppins;
    color: #000;
}

.menu_all {
    display: flex;
    gap: 33px;
    align-items: center;
}

.log_in {
    display: flex;
    gap: 62px;
}

.log_in>a {
    display: flex;
}

.telephone_number {
    margin-left: 6px;
}

.fa-phone {
    color: #B00000;
}

.logo>a>img {
    width: 90.81px;
}

/* navbar part end */
/* banner part start */
.banner>.container {
    width: 1215px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner_menu>ul {
    display: flex;
    width: 248px;
    justify-content: space-between;
    align-items: cneter;
}

.banner_menu>ul>li>a {
    font: 600 15px var(--poppins);
    color: #D6D4D4;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: all linear .3s;
}

.banner_menu>ul>li>a:hover {
    text-decoration-color: #B00000;
}

.tag_line_text>h1 {
    width: 608px;
    font: 700 64px var(--poppins);
    line-height: 77.5px;
    color: #2E2E2E;
    margin-top: 26px;
    margin-bottom: 34px;
}

.tag_line_text>p {
    width: 448px;
    font: 400 16px var(--inter);
    line-height: 28px;
    letter-spacing: 5%;
    color: #808080;
}

.banner_button>ul {
    width: 344px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 116px;
}

.banner_button>ul>li>a {
    padding: 12px 13.5px;
    font: 400 14px var(--poppins);
    color: #000000;
    border: 1px solid;
    border-radius: 8px;
    transition: all linear .3s;
}

.banner_button>ul>li>a:hover {
    background: #B00000;
    color: #fff;
    border-color: #B00000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* banner part end */
/* why us part start*/
#why_us>.container {
    width: 1284px;
    margin: 0 auto;
}

.textAndBrandRow {
    display: flex;
    justify-content: space-between;

}

.textAndBrandRow>.text>h2 {
    font: 800 48px var(--inter);
    color: #18191F;
    line-height: 64px;
}

.textAndBrandRow>.text>p {
    width: 573px;
    font: 400 18px var(--inter);
    color: #18191F;
    line-height: 32px;
    margin-bottom: 82px;
    margin-top: auto;
}

.brand_images>ul {
    width: 613px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 10%;
    margin-top: 18px;
    margin-bottom: 118px;
}

.brand_images>ul>li {
    justify-self: center;
    align-content: center;
}

.offer {
    width: 1138px;
    display: grid;
    grid-template-columns: repeat(4, 252px);
    gap: 60px;

}

.offer_card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.offer_card>h2 {
    font: 700 20px var(--poppins);
    color: #000;
    margin-top: 17px;
    margin-bottom: 10px;
}

.offer_card>p {
    font: 300 12px var(--poppins);
    color: #000;
}

/* why us part end */
/* pricing part start */
#pricing {
    width: 1097px;
    margin: 131px auto 105px;
}

.price_text {
    width: 857px;
    margin: 0 auto;
}

.price_text>h2 {
    font: 600 50px var(--poppins);
    color: #000;
    text-align: center;

}

.price_text>p {
    margin-bottom: 38px;
    margin-top: 57px;
    font: 400 25px var(--poppins);
    line-height: 25px;
    color: black;
    text-align: center;
}

.subcription_opion {
    width: 422px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthly,
.yealry {
    font: 400 25px var(--poppins);
    line-height: 25px;
    color: black;
}

.btn>img {
    width: 93px;
    height: 50px;
}

.discount {
    padding: 8px 7px;
    background: #FFE87A;
    border-radius: 8px;
    font: 400 10px var(--poppins);
    color: #000;
    line-height: 9px;
}

.option {
    margin: 70px auto 6px;
    width: 555px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.option>a {
    font: 600 30px var(--poppins);
    color: #000;
    line-height: 40px;
    position: relative;
}

.basic:before,
.premium:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 457px;
    background: #B00000;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
}

.premium:before {
    background: #C4C4C4;
}

.package {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}

.starter,
.Standard,
.Suprem {
    width: 299px;
    border: 1.5px solid #C4C4C4;
    border-radius: 15px;
}

.package h3 {
    margin-top: 34px;
    margin-left: 34px;
    margin-bottom: 11px;
    font: 600 28px var(--poppins);
    line-height: 25px;
    color: #000;
}

.description {
    font: 400 12px var(--poppins);
    color: #000;
    line-height: 18px;
    margin-left: 35px;
}

.price {
    font: 600 42px var(--poppins);
    color: #000;
    line-height: 32px;
    margin-top: 28px;
    margin-left: 37px;
    margin-bottom: 11px;
}

.duration {
    font: 300 14px var(--poppins);
    color: #000;
    line-height: 14px;
    margin-left: 41px;
}


.package .button {
    width: 235px;
    height: 50px;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 2px solid #000;
    border-radius: 12px;
    background: transparent;
    font: 600 14px var(--poppins);
    color: #000;
    line-height: 32px;
}

.service {
    width: 264px;
    height: 339px;
    margin-left: 35px;
    margin-bottom: 35px;
}

.fa-check {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    color: #000;
}

.service>p {
    margin-bottom: 15px;
    font: 700 16px var(--inter);
    color: #808080;

}

/* pricing part end  */
/* testimonial part start */
#testimonial>.container{
    width: 1194px;
    height: 1076px;
    margin-top: 105px;
    margin-bottom: 106px;
}
/* testimonial part end */
/* CTA part start */
    #CTA>.container{
        width: 1232px;
        height: 432px;
        position: relative;
    } #CTA>.container>img{
        z-index: -1;
        position: absolute;
        top: -80px;
    }
    .slogan{
        margin-top: 80px;
        margin-left: 114px;
        margin-bottom: 40px;
        width: 1024px;
        font: 600 64px var(--poppins);
        color: #2E2E2E;
        line-height: 88px;
        text-align: center;
    }
    .connectWithUs{
        width: 208px;
        height: 48px;
        background: #B00000;
        border-radius: 8px;
        margin: 0 auto 88px;
    }
    .connectWithUs>a{
        color: #fff;
        display: flex;
        align-items: center;
        height: 48px;
        margin-top: 12px;
        margin-left: 16px;
        gap: 10px;
    }
/* CTA part end */